.ContributorItem {
  margin: 10px auto;
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
  @media(min-width: 1200px) {
    width: 28%;
  }

  &__socialMediaLink {
    width: 20px;
    height: 20px;
    display: block;
  }
  &__ContributorImage {
    display: block;
    width: 120px;
    height: 120px;
    border: none;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
  }
  &__image {
    width: 100%;
    height: auto;
  }
  &__ContributorDetails {
    width: 100%;
    height: 60%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &__LinkWrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  &__ContributorLink {
    width: 25px;
    height: 25px;
  }
  &__icon {
    width: 100%;
    height: 100%;
    color: #000;
    font-size: 1.5em;
    &:hover {
      color: rgb(150, 127, 1);
    }
  }
}
