.Place__PlaceHeader {
  padding: 7px 10px;
}

.Place__Title {
  font-size: 1.2rem;
}

.Place__Subtitle {
  color: #666666;
}

.Place__Image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.Place__Description {
  padding: 10px;
}

.Place__Section {
  display: flex;
}

.Place__Item {
  padding: 0 10px;
  font-size: 1rem;
}

.Place__Item:first-child {
  padding-bottom: 10px;
}
