.Place__Title {
  text-align: left;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.Place__ImageContainer {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
}

.Place__Image {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.PlaceDescription__Item {
  text-align: left;
  font-size: 1rem;
}

.PlaceDescription__Item:first-child {
  padding-top: 10px;
  padding-bottom: 5px;
}
