.Place__Title {
  text-align: left;
  padding: 5px 10px;
  font-size: 1.2rem;
}

.Place__Image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin: 0 auto;
  display: block;
}

.Place__Description {
  padding: 10px;
}

.Place__Item {
  padding: 0 10px;
  text-align: left;
  font-size: 1rem;
}

.Place__Item:first-child {
  padding-bottom: 10px;
}
