.Card__Container__Title {
  text-align: left;
  padding-bottom: 5px;
  font-size: 1.2rem;
}

.photoContent {
  width: 100%;
  border: 1px solid #aaa;
  border-radius: 10px;
  overflow: hidden;
}
.photoContent__Item {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}

.Card__Container__Description__Item {
  text-align: left;
  font-size: 1rem;
}
.Card__Container__Description__Item:first-child {
  padding-top: 10px;
  padding-bottom: 5px;
}
