.Home {
  padding: 50px;
  margin-bottom: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__link {
    font-size: 1.4rem;
    color: #f38b2a;
    transition: 0.2s;
    text-transform: uppercase;
    text-decoration: none;
    &:hover {
      color: #ee7b0f;
      font-size: 1.5rem;
    }
  }
}
