.Searchbar {
  position: relative;
  text-align: center;
  padding: 5px;
}

h2 {
  text-align: center;
  display: block;
}

.Searchbar__InputField,
.Searchbar__ClearButton {
  margin: 5px;
  padding: 0.5em 0.75em;
  border: 1px solid #6b6a6a;
  border-radius: 5px;
}

.Searchbar__InputField:focus {
  outline: none;
}

.Searchbar__resultsContainer {
  top: 40px;
  display: flex;
  flex-direction: column;
}
