.searchbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  padding: 5px;
}

.searchbar__input,
.searchbar__button {
  margin: 5px;
  padding: 5px;
  border: 1px solid #6b6a6a;
  border-radius: 5px;
}

.searchbar__input:focus {
  outline: none;
}

.searchbar__result {
  position: absolute;
  top: 40px;
  display: flex;
  flex-direction: column;
}
