@import '../../constants/Colors.scss';

.Nav {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  align-items: center;
  padding: 15px 25px;
  &__listDefault {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    &--listActive {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $color-4;
    }
    &--listHidden {
      width: 100%;
      height: 100vh;
      position: absolute;
      top: -100vh;
      left: 0;
      background-color: $color-4;
    }
  }

  &__linkDefault {
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-1;
  }
  &__NavItem {
    padding: 5px 10px;
    margin: 0 15px;
  }
  &__NavIcon {
    width: 25px;
    height: 25px;
    z-index: 1000;
    cursor: pointer;
    @media (min-width: 768px) {
      width: 35px;
      height: 35px;
    }
  }
  &__iconImg {
    width: 100%;
    height: auto;
  }
  &__Logo {
    z-index: 1000;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
}
